<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>
        <%= __('title') %>
    </title>
</head>

<body>

    <a href="?lang=es">Español</a> | <a href="?lang=en">English</a>

    <h1>
        <%= __('welcome') %>
    </h1>
    <p>
        <%= __('about') %>
    </p>





    <a href="?lang=en" onclick="document.cookie='lang=en';">English</a>
    <a href="?lang=es" onclick="document.cookie='lang=es';">Español</a>

    <a href="/?lang=es">ES</a> | <a href="/?lang=en">EN</a>
</body>

</html>